<div class="page-header">
  <%= link_to islets_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Retour
  <% end %>
  <h1>Modification îlot <%= "#{@islet.name} - #{@islet.room}"%> </h1>
</div>

<%= render 'form' %>
