<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => modeles_url,
  'Ilôts' => islets_path,
  "Nouvel ilôt" => ''
} %>

<div class="container">
  <div class="page-header">
    <%= link_to islets_path, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Retour
    <% end %>
    <h1>Nouvel îlot</h1>
  </div>

  <%= render 'form' %>
</div>
