<%
  breadcrumb
    .add(Islet.model_name.human.pluralize, islets_path)
    .add(t("action.create"))
%>

<%= render Page::HeadingNewComponent.new(resource: @islet, title: t(".title"), breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
