<%
  provide(:title, "#{PortType.model_name.human(count: 2)} | #{@port_type.name} | #{t("action.edit")}")

  breadcrumb_steps = {
    PortType.model_name.human(count: 2) => port_types_path,
    @port_type => port_type_path(@port_type),
    t("action.edit") => ""
  }
%>

<%= render Page::HeadingEditComponent.new(resource: @port_type, title: t(".title"), breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
