<%
  breadcrumb
    .add_step(PortType.model_name.human(count: 2), port_types_path)
    .add_step(@port_type, port_type_path(@port_type))
    .add_step(t("action.edit"))
%>

<%= render Page::HeadingEditComponent.new(resource: @port_type, title: t(".title"), breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
