<%
  breadcrumb
    .add_step(@room.name, room_path(@room))
    .add_step("Baie #{@frame.name}", frame_path(@frame))
    .add_step(Connection.model_name.human.pluralize, cables_path)
    .add_step(t("action.edit"))
%>

<%= render Page::HeadingComponent.new(
  title: t(".title"), breadcrumb:, back_button_url: cables_path
) do |heading| %>
  <% heading.with_right_content do %>
    <% if @cable %>
      <% render ButtonComponent.new(t("action.delete"),
                                    url: cable_path(id: @cable.id),
                                    variant: :danger,
                                    icon: "trash",
                                    is_responsive: true,
                                    method: :delete,
                                    data: { confirm: t("connections.form.action.delete_confirmation") }) %>
    <% end %>
  <% end %>
<% end %>

<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
