<div class="panel panel-warning fade port_selection">
  <div class="panel-heading">Connexions</div>
  <div class="panel-body">
    <div>
      <%= form_for Connection.new, url: {action: "create", controller: "connections"}, remote: true do |f| %>
        <h5>Nouvelle connexion</h5>
        <p class="from"></p>
        <p class="to">Sélectionnez un port de destination</p>
        <%= f.submit "Valider", class: 'btn btn-danger submit_btn' %>
        <a href="#" class="btn btn-default cancel_btn" role="button">Annuler</a>
      <% end %>
    </div>
  </div>
</div>
