<div class="container">

  <div class="row">

    <div class="col-md-12 well">

      <div style="margin-bottom: 20px;">
        <h2>Liste des ports cablés</h2>
      </div>

      <% @baies.each do |baie| %>
        <h3>
          <%= link_to "#{baie.name_with_salle_and_ilot}", baie_path(baie, :view => params[:view]), style: 'text-decoration: underline;' %>
        </h3>
        <% baie.serveurs.includes(:modele, :cards_serveurs => [:ports, :composant]).order('position desc').each do |s| %>
          <h4 style="display: inline;"><%= s.nom %></h4><span> (<%= s.modele.title %>)</span>
          <p>
            <% s.cards_serveurs.each do |c| %>
              <% c.ports.each do |port| %>
                <% if port && port.cablename %>
                  <%= "#{c.composant.name}#{c.composant.name.include?('SL') ? "/#{port.position}" : port.position} - #{port.network_conf(s.baie.switch_slot)}" %>
                  <br>
                <% end %>
              <% end %>
            <% end %>
          </p>
        <% end %>
      <% end %>

    </div>

  </div>

</div>
