<div id="<%= dom_id air_conditioner %>">
  <p>
    <strong>Status:</strong>
    <%= air_conditioner.status %>
  </p>

  <p>
    <strong>Last service:</strong>
    <%= air_conditioner.last_service %>
  </p>

  <p>
    <strong>Bay:</strong>
    <%= air_conditioner.bay_id %>
  </p>

</div>
