<span class="badge_phase" title="Phase <%= serveur.phase %>"
      style="background-color:<%= Color.find_by(parent_type: 'Phase', parent_id: serveur.phase).try(:code) %> !important;" >
  <%= serveur.phase %>
</span>
