<!-- TODO : Display cluster or owner -->
<!--
<span class="server_badge" title="Cluster <%= serveur.cluster %>"
      style="background-color:<%= Color.find_by(parent_type: 'Cluster', parent_id: serveur.cluster).try(:code) %> !important;" >
  <%= serveur.cluster %>
</span>
-->
