<b><%= link_to h(serveur.nom), serveur %></b>

<div class="pull-right">
  <% slots_sur_modele = serveur.modele.composants.where(type_composant_id: 4) %>
  <table class="slots">
    <thead>
    <% slots_sur_modele.each do |slot| %>
      <th><%= "Slot #{slot.position}" %></th>
    <% end %>
    </thead>
    <tbody>
    <tr>
      <% slots_sur_modele.each do |slot| %>
        <td>
          <% serveur.cards_serveurs.where(:composant_id => slot.id).each do |card_serveur| %>
            <% card_serveur.card.port_quantity.to_i.times do %>
              <% case card_serveur.card.port_type_id
                   when PortType.find_by_name('RJ').id %>

                <i class="portRJ label-primary"></i><br>

              <% when PortType.find_by_name('FC').id %>

                <i class="portFC label-success"></i><br>

              <% else %>

                <i class="portSCSI"><%= card_serveur.card.port_type.name %></i><br>

              <% end %>
            <% end %>

          <% end %>
        </td>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>

<div class="alims">
  <% alims_sur_modele = serveur.modele.composants.where(type_composant_id: 1) %>
  <% alims_sur_modele.each do |composant_alim| %>
    <span class="alim">ALIM</span>
  <% end %>
</div>

<div class="ipmis">
  <% ipmi_sur_modele = serveur.modele.composants.where(type_composant_id: 2) %>
  <% ipmi_sur_modele.each do |composant_ipmi| %>
    <span class="ipmi">IPMI</span>
  <% end %>
</div>

<div class="cm">
  CM :
  <% rj_sur_cm = serveur.modele.composants.where(type_composant_id: 3) %>
  <% rj_sur_cm.each do |composant_cm_rj| %>
    <i class="portRJ label-primary"></i>
  <% end %>
</div>
