<div class="container-fluid">

  <span class="pull-right">
    <%= link_to baies_serveurs_path(:view => params[:view]=='back' ? :front : :back), class: 'btn btn-warning' do %>
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
      <%= (params[:view]=='back' ? 'Vue avant' : 'Vue arrière') %>
    <% end %>
  </span>

  <h1>Vue par salle et par baie</h1>

  <%= render 'salles/links_to_rooms.html.erb' %>

  <% @serveurs_par_baies.each do |salle, ilots| %>

    <%= render 'salle', salle: salle, ilots: ilots %>

  <% end %>

</div>


<% # render 'modal_add_element_in_baie' %>




