<%
  breadcrumb_variables = {}
  breadcrumb_variables['Salles'] = '' # {'Salles' => overview_salles_path, @salle.title => (@baie.present? ? salle_path(@salle):'')}
  breadcrumb_variables["Baie #{@baie.title}"] = '' if @baie.present?
%>
<%= render 'layouts/breadcrumb', params: breadcrumb_variables %>

<div class="container-fluid">

  <h1><%= current_filters %></h1>

  <% @serveurs_par_baies.each do |salle, ilots| %>

    <%= render 'salle', salle: salle, ilots: ilots %>

  <% end %>

</div>


<%= render 'modal_add_element_in_baie' %>




