<%= form_for grid, options do |f| %>
  <div style="column-count: 4;column-width: 410px;">
    <% grid.filters.each do |filter| %>
      <div class="datagrid-filter filter" style="display: inline-block;">
        <%= f.datagrid_label filter %>
        <%= f.datagrid_filter filter, partials: options[:partials] %>
      </div>
      <br>
    <% end %>
  </div>
  <div style="text-align: center;">
    <%= f.submit I18n.t("datagrid.form.search").html_safe, :class => "btn btn-lg btn-primary" %>
  </div>
<% end %>
