<%
  provide(:title, "#{Cluster.model_name.human.pluralize} | #{@cluster} | #{t("action.edit")}")

  breadcrumb_steps = {
    Cluster.model_name.human.pluralize => clusters_path,
    @cluster => cluster_path(@cluster),
    t("action.edit") => ""
  }
%>

<%= render Page::HeadingEditComponent.new(resource: @cluster, title: t(".title"), breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
