<div class="my-4 my-lg-0 mx-lg-auto order-0 order-lg-1">
  <div class="input-group"
       data-controller="global-search"
       data-global-search-url-value="<%= search_path %>"
       data-global-search-on-search-page-value="<%= request.path == search_path %>">

    <%= text_field_tag :search_query, params[:search_query],
      class: "form-control border-primary",
      type: "search",
      placeholder: t("filters.placeholder.quicksearch"),
      data: {
        global_search_target: "input",
        action: "focus->global-search#onFocus input->global-search#onInput"
      } %>

    <button class="btn btn-primary"
            data-global-search-target="button"
            data-action="click->global-search#onBtnClick">
      <span class="bi bi-search"></span>
    </button>

  </div>
</div>
