<div class="my-4 my-lg-0 mx-lg-auto order-0 order-lg-1">
  <%= form_with url: search_path,
                method: :get,
                local: true,
                data: { turbo_frame: "search-index" },
                class: "d-flex" do |f| %>
    <div class="input-group">
      <%= f.text_field :query,
                       value: params[:query],
                       class: "form-control border-primary",
                       type: "search",
                       placeholder: t("filters.placeholder.quicksearch") %>

      <%= f.button class: "btn btn-primary", type: "submit" do %>
        <span class="bi bi-search"></span>
      <% end %>
    </div>
  <% end %>
</div>
