<div class="my-4 my-lg-0 mx-lg-auto order-0 order-lg-1">
  <%= form_with url: search_path,
                id: "search-form",
                method: :get,
                data: {
                  turbo: true,
                  turbo_frame: "search-index",
                  controller: "global-search",
                  global_search_on_search_page_value: request.path == search_path,
                },
                class: "d-flex" do |f| %>

    <div class="input-group">
      <%= f.search_field :search_query,
                         value: params[:search_query],
                         data: {
                           global_search_target: "searchInput",
                           action: "focus->global-search#goToSearch click->global-search#goToSearch input->global-search#submit",
                         },
                         class: "form-control border-primary",
                         placeholder: t("filters.placeholder.quicksearch") %>

      <%= f.button class: "btn btn-primary", type: "submit" do %>
        <span class="bi bi-search"></span>
        <span class="loading spinner-border spinner-border-sm"></span>
      <% end %>
    </div>
  <% end %>
</div>
