<% breadcrumb.add_step(title = t(".results")) %>

<%= render Page::HeadingComponent.new(title:, breadcrumb:) %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <turbo-frame id="search-index" data-controller="search-results">
    <% if @results.any? %>
      <div class="list-group">
        <% @results.each do |record| %>
          <%= render partial: "search_entry", locals: { record: } %>
        <% end %>
      </div>
    <% else %>
      <p><%= t(".no_results_found") %></p>
    <% end %>
  </turbo-frame>
</div>
