<% breadcrumb.add_step(title = t(".results")) %>

<%= render Page::HeadingComponent.new(title:, breadcrumb:) %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <turbo-frame id="search-index" data-controller="search-results">
    <% if @results.any? %>
      <div class="list-group">
        <%= render partial: "result", collection: @results %>
      </div>
    <% else %>
      <%= render CardEmptyDataComponent.new(text: t(".no_results_found")) %>
    <% end %>
  </turbo-frame>
</div>
