<div>
  <h3>Filtres</h3>

  <%= form_with model: @filter, url: "", method: :get do |f| %>
    <%= form.call(f) %>

    <div>
      <%= f.submit "Filter", class: "btn btn-primary btn-sm" %>
      <%= link_to "Reset", url_for(only_path: false, overwrite_params: nil), class: "btn btn-secondary btn-sm" %>
    </div>
  <% end %>
</div>
