<%
  provide(:title, "#{DiskType.model_name.human(count: 2)} | #{@disk_type} | #{t("action.edit")}")

  breadcrumb_steps = {
    DiskType.model_name.human(count: 2) => disk_types_path,
    @disk_type => disk_type_path(@disk_type),
    t("action.edit") => ""
  }
%>

<%= render Page::HeadingEditComponent.new(resource: @disk_type, title: t(".title"), breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
