<div class="page-header">
  <%= link_to disk_types_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_disk_type_path(@disk_type), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show disk_type</h1>
</div>

<dl class="dl-horizontal">

  <dd><%= @disk_type %></dd>

</dl>
