<div>
  <%= link_to disks_path, class: 'btn' do %>
    <span class="bi bi-list-ul"></span>
    Retour
  <% end %>
  <%= link_to @disk, class: 'btn btn-primary' do %>
    <span class="bi bi-eye"></span>
    Voir
  <% end %>
  <h1>Editing disk</h1>
</div>

<%= render 'form' %>
