<div class="page-header">
  <%= link_to disks_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Retour
  <% end %>
  <%= link_to @disk, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Voir
  <% end %>
  <h1>Editing disk</h1>
</div>

<%= render 'form' %>
