<%
  breadcrumb
    .add_step(@domaine, domaine_path(@domaine))
    .add_step(t("action.delete"))
%>

<%= render Page::HeadingComponent.new(title: t(".title"), breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <%= render DeleteDependencyComponent.new(
    @domaine,
    confirmation_path: manufacturer_path(@domaine, confirm: true)
  ) %>
</div>
