<%
  provide(:title, "#{Domaine.model_name.human.pluralize} | #{@domaine} | #{t("action.edit")}")

  breadcrumb_steps = {
    Domaine.model_name.human.pluralize => domaines_path,
    @domaine => domaine_path(@domaine),
    t("action.edit") => ""
  }
%>

<%= render Page::HeadingEditComponent.new(resource: @domaine, title: t(".title"), breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
