<%
  breadcrumb
    .add(Domaine.model_name.human.pluralize, domaines_path)
    .add(@domaine, domaine_path(@domaine))
    .add(t("action.edit"))
%>

<%= render Page::HeadingEditComponent.new(resource: @domaine, title: t(".title"), breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
