<%
  breadcrumb
    .add_step(Domaine.model_name.human.pluralize, domaines_path)
    .add_step(@domaine, domaine_path(@domaine))
    .add_step(t("action.edit"))
%>

<%= render Page::HeadingEditComponent.new(resource: @domaine, title: t(".title"), breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
