<div id="<%= dom_id air_conditioner_model %>">
  <p>
    <strong>Name:</strong>
    <%= air_conditioner_model.name %>
  </p>
  <p>
    <strong>Manufacturer:</strong>
    <%= air_conditioner_model.manufacturer_id %>
  </p>
</div>
