<%
  breadcrumb
    .add_step(AirConditionerModel.model_name.human.pluralize, air_conditioner_models_path)
    .add_step(t("action.create"))
%>

<%= render Page::HeadingNewComponent.new(resource: @air_conditioner_model, title: t(".title"), breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
