<div class="page-header">
  <%= link_to server_states_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Retour
  <% end %>
  <h1>New server_state</h1>
</div>

<%= render 'form' %>
