<div>
  <%= link_to server_states_path, class: 'btn btn-outline-secondary' do %>
    <span class="bi bi-list-ul"></span>
    Retour
  <% end %>
  <h1>New server_state</h1>
</div>

<%= render 'form' %>
