<div class="page-header">
  <%= link_to server_states_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Retour
  <% end %>
  <%= link_to edit_server_state_path(@server_state), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Voir server_state</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nom :</dt>
  <dd><%= @server_state %></dd>

</dl>
