<%
  provide(:title, "#{Stack.model_name.human.pluralize} | #{@stack.name} | #{t("action.edit")}")

  breadcrumb_steps = {
    Stack.model_name.human.pluralize => stacks_path,
    @stack => stack_path(@stack),
    t("action.edit") => ""
  }
%>

<%= render Page::HeadingEditComponent.new(resource: @stack, title: t(".title"), breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
