<%
  breadcrumb
    .add_step(@stack, stack_path(@stack))
    .add_step(t("action.edit"))
%>

<%= render Page::HeadingEditComponent.new(resource: @stack, title: t(".title"), breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
