<% server.cards.where(:composant_id => slot.id).each do |card| %>
  <span class="float-start" style="margin-right: 2em;">
    <% cache(["card_ports", card.id, Port.maximum(:updated_at)]) do %>
      <%= ports_by_card(port_type: card.card_type.port_type,
                        port_quantity: card.card_type.port_quantity,
                        ports_data: Port.where(card: card),
                        card_id: card.id) %>
    <% end %>
  </span>
<% end %>
