<%# locals: (server:, should_hide_left_block: request.format.pdf?) -%>

<%= render partial: "servers/visualization", locals: { server: } %>

<% unless should_hide_left_block %>
  <div class="ps-3 d-flex flex-column me-auto">
    <span class="mb-2">
      <%= link_to h(server.name),
                  server_path(server, view: params[:view]),
                  { class: "server_name", data: { controller: "tooltip", bs_placement: "top" }, title: server.numero } %>
    </span>
    <span>
      <%= link_to draw_connections_path(server_id: server.id),
                  class: "draw_connections_link",
                  id: "draw_connections_link_#{server.id}",
                  title: "Dessiner les liaisons",
                  remote: true do %>
        <button type="button" class="btn btn-outline-secondary btn-sm mb-2" aria-label="Draw connections">
          <span class="bi bi-shuffle" aria-hidden="true"></span>
        </button>
      <% end %>
    </span>
    <span class="fst-italic">
      <%= link_to server.modele.try(:name), modele_path(server.modele_id) %>
    </span>
  </div>
<% end %>
