<% server.cards_servers.where(:composant_id => slot.id).each do |card_server| %>
  <span class="pull-left" style="margin-right: 2em;">
    <% cache(["card_ports", card_server.id, Port.maximum(:updated_at)]) do %>
      <%= render :partial => 'servers/card_ports',
                 :locals => {
                     port_type: card_server.card.port_type,
                     port_quantity: card_server.card.port_quantity,
                     alignment: 'horizontal',
                     card_server: card_server,
                     ports_data: Port.where(parent: card_server) } %>
    <% end %>
  </span>
<% end %>
