<li class="list-group-item">
  <fieldset>
    <div class="col-sm-4">
      <%= f.number_field :quantity, class: "form-control", placeholder: t(".quantity") %>
    </div>
    <div class="col-sm-4">
      <%= f.collection_select :memory_type_id, MemoryType.order(:quantity), :id, :to_s, class: "form-control" %>
    </div>
    <span>
      <%= f.hidden_field :_destroy %>
      <%= link_to t("action.delete"), '#', class: "remove_fields pull-right" %>
    </span>
  </fieldset>
</li>
