<% provide(:title, "#{t("servers.index.title")} | #{t(".title", server_name: @original_server.name)}") %>
<% breadcrumb_steps = {
    t("servers.index.title") => servers_path,
    @original_server.name => server_path(@original_server),
    t("action.duplicate") => ""
} %>

<%= render Page::HeadingComponent.new(
  resource: @server, title: t(".title", server_name: @original_server.name), breadcrumb_steps:, buttons: :create
) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
