<% provide(:title, "#{@server.modele.try(:category).try(:name)} #{@server.name} - Edition") %>

<%= render 'layouts/breadcrumb', breadcrumb_variables: {"Salles" => overview_rooms_path,
                                                        @server.frame.room.name => room_path(@server.frame.room),
                                                        "Frame #{@server.frame.name}" => frame_path(@server.frame),
                                                        @server.name => server_path(@server),
                                                        'Edition' => ''} %>
<div class="page-header">
  <%= link_to(server_path(@server.id),
              method: :delete,
              data: {confirm: 'Toutes les données concernant ce matériel seront supprimées, ainsi que toutes les connexions associées. Souhaitez-vous confirmer ?'},
              class: 'btn btn-danger') do %>
    <span class="glyphicon glyphicon-alert"></span>
    Supprimer
  <% end %>
  <h1>Matériel : <%= @server.name %></h1>
</div>

<%= render 'form' %>
