<% provide(:title, "#{t("servers.index.title")} | #{@server.name} | #{t(".title")}") %>
<% breadcrumb_steps = {
    t("servers.index.title") => servers_path,
    @server.name => server_path(@server),
    t("action.edit") => ""
} %>

<%= render Page::HeadingComponent.new(resource: @server, title: t(".title"), breadcrumb_steps:, style: :edit)%>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
