<%= render partial: "servers/room", locals: {
                  room: @server.bay.room,
                  islets: @servers_per_frames[@server.bay.islet.room_id],
                  view_side: :back,
                  should_show_heading: false
  } %>

<% unless @cables.empty? %>
  <div class="fs-5 mt-4">
    <h2><%= Cable.model_name.human %></h1>

    <% @cables.each do |cable| %>
      <p>
        <%= cable.description %>
      </p>
    <% end %>
  </div>
<% end %>
