<%
  breadcrumb_variables = {}
  breadcrumb_variables['Rooms'] = '' # {'Rooms' => overview_rooms_path, @room.name => (@frame.present? ? room_path(@room):'')}
  breadcrumb_variables["Frame #{@frame}"] = '' if @frame.present?
%>
<%= render 'layouts/breadcrumb', params: breadcrumb_variables %>

<div class="container-fluid">

  <h1><%= current_filters %></h1>

  <% @servers_per_frames.each do |room, islets| %>

    <%= render 'room', room: room, islets: islets %>

  <% end %>

</div>


<%= render 'modal_add_element_in_frame' %>




