<% provide(:title, "#{Server.model_name.human} | #{t("action.create")}") %>
<% breadcrumb_steps = {
  Server.model_name.human => servers_path,
  t("action.create") => ""
} %>

<%= render Page::HeadingNewComponent.new(resource: @server, title: t(".title"), breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
