<% provide(:title, "#{t("servers.index.title")} | #{t("action.create")}") %>
<%= render "layouts/breadcrumb", breadcrumb_steps: {
  t("servers.index.title") => servers_path,
  t(".title") => ""
} %>

<div class="row my-5">
  <%= render Page::HeadingComponent.new(title: t(".title")) %>
  <%= render "form" %>
</div>
