<% provide(:title, "#{t("servers.index.title")} | #{t("action.create")}") %>
<% breadcrumb_steps = {
  t("servers.index.title") => servers_path,
  t("action.create") => ""
} %>

<%= render Page::HeadingNewComponent.new(resource: @server, title: t(".title"), breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
