<%= render 'layouts/breadcrumb', params: {'Utilisateurs' => ''} %>
<div class="container-fluid">
  <div class="row">
    <h3>Utilisateurs</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
