<%= render 'layouts/breadcrumb', breadcrumb_variables: {'Utilisateurs' => users_url, @user.name => ''} %>

<div class="well container">
  <h3>User</h3>
  <p>Name: <%= @user.name if @user.name %></p>
  <p>Email: <%= @user.email if @user.email %></p>
  <p>Role: <%= @user.role %></p>
</div>
