<li class="nested-form-wrapper list-group-item d-flex align-items-center bg-transparent"
    data-new-record="<%= f.object.new_record? %>">
<<<<<<< HEAD
  <span class="input-group input-group-sm">
=======

  <span class="input-group input-group-sm">

>>>>>>> 1b4263f9 (add nested attributes vues)
    <%= f.text_field :name, { class: "form-control", placeholder: true } %>

    <%= f.hidden_field :_destroy %>
    <button type="button" data-action="nested-form#remove" class="btn btn-danger" id="input-group-delete-btn">
      <span class="bi bi-trash" title="<%= t("action.delete") %>"></span>
    </button>
  </span>
</li>
