<%
  breadcrumb
    .add_step(@power_distribution_unit_type, power_distribution_unit_type_path(@power_distribution_unit_type))
    .add_step(t("action.edit"))
%>

<%= render Page::HeadingEditComponent.new(resource: @power_distribution_unit_type, title: t(".title"), breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <%= render partials: "form", locals: { power_distribution_unit_type: @power_distribution_unit_type } %>
</div>
