<% breadcrumb.add_step(t("action.create")) %>

<%= render Page::HeadingNewComponent.new(resource: @power_distribution_unit_type, title: t(".title"), breadcrumb:) %>

<div class="col-12 p-4 border-top d-grid row-gap-4">
  <div class="alert alert-warning mb-0">
    Cette section est actuellement en cours de développement. Les données peuvent être amenées à être supprimées ou altérées par des changements le temps du développement.
  </div>

  <%= render partial: "form", locals: { power_distribution_unit_type: @power_distribution_unit_type } %>
</div>
