<%
  provide(:title, "#{ContractType.model_name.human(count: 2)} | #{@contract_type} | #{t("action.edit")}")

  breadcrumb_steps = {
    ContractType.model_name.human(count: 2) => contract_types_path,
    @contract_type => contract_type_path(@contract_type),
    t("action.edit") => ""
  }
%>

<%= render Page::HeadingEditComponent.new(resource: @contract_type, title: t(".title"), breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
