<div class="page-header">
  <%= link_to memory_components_path, class: 'btn btn-default' do %>
    <span class="bi bi-list-ul"></span>
    Retour
  <% end %>
  <%= link_to @memory_component, class: 'btn btn-primary' do %>
    <span class="bi bi-eye"></span>
    Voir
  <% end %>
  <h1>Editing memory_component</h1>
</div>

<%= render 'form' %>
