<div class="page-header">
  <%= link_to memory_components_path, class: 'btn btn-default' do %>
    <span class="bi bi-list-ul"></span>
    Retour
  <% end %>
  <h1>New memory_component</h1>
</div>

<%= render 'form' %>
