<%= render 'layouts/breadcrumb', params: {"Déplacements prévus" => moves_path,
                                          "Édition" => ''} %>

<div class="page-header">
  <h1>Déplacement enregistré</h1>
</div>

<%= render 'form' %>
