<%= render 'layouts/breadcrumb', breadcrumb_variables: {"Déplacements prévus" => moves_path,
                                          "Édition" => ''} %>

<h1>Déplacement enregistré</h1>

<%= render 'form' %>
