<%= render 'layouts/breadcrumb', breadcrumb_variables: {"Déplacements prévus" => moves_path,
                                          "Nouveau déplacement" => ''} %>

<h1>Nouveau déplacement</h1>

<%= render 'form' %>
