<%= render 'layouts/breadcrumb', breadcrumb_variables: {"Déplacements prévus" => moves_path,
                                          "Nouveau déplacement" => ''} %>

<div class="page-header">
  <h1>Nouveau déplacement</h1>
</div>

<%= render 'form' %>
