<div class="container-fluid p-4">
  <%= render partial: "visualization/frames/show_frame",
             locals: { frame: @frame, servers: @frame.servers, settings: @settings, view_type: @view_side } %>
</div>
