<% provide(:title, "#{Frame.model_name.human.pluralize} | #{t("layouts.breadcrumb.bay.simple", name: @frame.name)}") %>
<%
  breadcrumb_steps = {
    t("visualization.title") => overview_rooms_path,
    @room.name => ((@frame.present? || params[:islet].present?) ? room_path(@room, view: params[:view]) : "")
  }
  if @frame.present? && @frame.bay.islet.name.present?
    breadcrumb_steps[t("layouts.breadcrumb.islet", name: @frame.bay.islet.name)] = room_path(@room, islet: @frame.bay.islet.name, view: params[:view])
  elsif params[:islet].present?
    breadcrumb_steps[t("layouts.breadcrumb.islet", name: params[:islet])] = ""
  end
  breadcrumb_steps[t("layouts.breadcrumb.bay.double", name: @frame.bay)] = room_path(@room, islet: @frame.bay.islet.name, "bay-id": @frame.bay_id, view: params[:view]) if @frame.has_coupled_frame?
  breadcrumb_steps[t("layouts.breadcrumb.bay.simple", name: @frame.name)] = "" if @frame.present?
%>
<%= render "layouts/breadcrumb", breadcrumb_steps: %>

<div class="container-fluid" id="bay-container">
  <%= render "frames/show_complete_frame" %>
</div>

<%= render "ports/modal_edit_port" %>

<script type="javascript">
  reset_u_heights()
  window.addEventListener("resize", function (event) {
    reset_u_heights()
  })
</script>
