<div class="container">

  <%= render 'layouts/breadcrumb', params: {'Importation de données' => ''} %>

  <div class="row">

      <div class="page-header">
        <h1>Importation de données</h1>
      </div>

      <h3>Ansible</h3>
      <% # Content-Type JSON %>
      <%= form_for :ansible, url: 'ansible', remote: true do |f| %>
          <p><%= f.file_field :file %></p>
          <p>
            <%= f.submit "Envoyer", class: "btn btn-primary" %>
          </p>
      <% end %>

  </div>

</div>
