<p class="lead">Paramètres</p>
<div class="list-group">
  <a href="<%= localisations_path %>" class="list-group-item active">Localisation</a>
  <a href="<%= armoires_path %>" class="list-group-item">Rack</a>
  <a href="#" class="list-group-item">Category 3</a>
</div>
