<%
  provide(:title, "#{Contact.model_name.human.pluralize} | #{@contact} | #{t("action.edit")}")

  breadcrumb_steps = {
    Contact.model_name.human.pluralize => contacts_path,
    @contact => contact_path(@contact),
    t("action.edit") => ""
  }
%>

<%= render Page::HeadingEditComponent.new(resource: @contact, title: t(".title", name: @contact), breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
