<%
  breadcrumb
    .add_step(Contact.model_name.human.pluralize, contacts_path)
    .add_step(@contact, contact_path(@contact))
    .add_step(t("action.edit"))
%>

<%= render Page::HeadingEditComponent.new(resource: @contact, title: t(".title"), breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
