<% breadcrumb.add_step(t("action.create")) %>

<%= render Page::HeadingNewComponent.new(resource: @contact, title: t(".title"), breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
