<div>
  <%= link_to documents_path, class: 'btn btn-outline-secondary' do %>
    <span class="bi bi-list-ul"></span>
    Retour
  <% end %>
  <%= link_to edit_document_path(@document), class: 'btn btn-primary' do %>
    <span class="bi bi-pencil"></span>
    Edit
  <% end %>
  <h1>Voir document</h1>
</div>

<dl class="dl-horizontal">
  <dt>Matériel :</dt>
  <dd><%= @document.server_id %></dd>

</dl>
