<%
  breadcrumb
    .add_step(Permission.model_name.human.pluralize, permissions_path)
    .add_step(@permission, permission_path(@permission))
    .add_step(t("action.edit"))
%>

<%= render Page::HeadingEditComponent.new(resource: @permission, title: t(".title", name: @permission), breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
