<%
  breadcrumb
    .add_step(Permission.model_name.human.pluralize, permissions_path)
    .add_step(t("action.create"))
%>

<%= render Page::HeadingNewComponent.new(resource: @permission, title: t(".title"), breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
