<h5 class="text-center"><%= link_to pdu.name[-1], edit_server_path(pdu.id) %></h5>
<% pdu.modele.enclosures.first.composants.each do |component| %>
  <div class="py-0 px-3 mb-4 text-center">
    <%= link_to "#", class: "pdu-line" do %>
      <span class="badge"><%= component.name ? component.name[-2..-1] : ' ' %></span>
    <% end %>
    <div class="d-flex flex-column">
      <%= render partial: 'servers/draw_component', locals: { server: pdu, component: component, selected_port: nil } %>
    </div>
  </div>
<% end %>
