<h5 style="text-align: center;"><%= pdu.name[-1] %></h5>
<% pdu.modele.enclosures.first.composants.each do |component| %>
  <div style="margin-bottom: 10px;display: inline-block;">
    <%= render 'servers/draw_component.html.erb', server: pdu, component: component, selected_port: nil %>
  </div>
<% end %>
