<h5 class="text-center"><%= link_to pdu.name[-1], edit_server_path(pdu.id) %></h5>
<% pdu.modele.enclosures.first.composants.ordered.each do |component| %>
  <div class="py-0 px-3 mb-4 text-center">
    <button type="button" class="pdu-line btn p-0">
      <span class="badge text-bg-secondary"><%= component.name ? component.name[-2..-1] : " " %></span>
    </button>
    <div class="d-flex flex-column">
      <%= render partial: "servers/draw_component", locals: { server: pdu, component: , selected_port: nil } %>
    </div>
  </div>
<% end %>
