<div class="card card-pdu">
  <div class="card-header">
    <h5 class="card-title mb-0">
      PDU <%= frame %>
    </h5>
  </div>
  <div class="card-body d-flex">
    <% frame.pdus.each do |pdu| %>
      <div class="pdu w-50 <%= pdu.color %>"
           id="pdu-<%= pdu.id %>" >
        <%= render :partial => 'pdus/pdu', locals: {pdu: pdu} %>
      </div>
    <% end %>
  </div>
</div>
