<div class="panel panel-pdu panel-default">
  <div class="panel-heading">
    <h5 class="panel-title" style="display: inline;">
      PDU <%= frame %>
    </h5>
  </div>
  <div class="panel-body">
    <% frame.pdus.each do |pdu| %>
      <div style="width: 50%;float: left;padding: 0 15px;max-width:60px;"
           class="pdu <%= pdu.color %>"
           id="pdu-<%= pdu.id %>" >
        <%= render :partial => 'pdus/pdu', locals: {pdu: pdu} %>
      </div>
    <% end %>
  </div>
</div>
