<div class="card card-pdu">
  <div class="card-header">
    <h5 class="card-title" style="display: inline;">
      PDU <%= frame %>
    </h5>
  </div>
  <div class="card-body">
    <% frame.pdus.each do |pdu| %>
      <div style="width: 50%;float: left;padding: 0 15px;max-width:60px;"
           class="pdu <%= pdu.color %>"
           id="pdu-<%= pdu.id %>" >
        <%= render :partial => 'pdus/pdu', locals: {pdu: pdu} %>
      </div>
    <% end %>
  </div>
</div>
