<%
  case type_composant
    when 'IPMI'
      label = type_composant.capitalize
    when 'CM'
      label = "RJ45 #{f.object.position}"
    when 'ALIM'
      label = "Alim #{f.object.position}"
    when 'SLOT'
      label = "#{f.object.name}"
  end
%>

<% if f.object.type_composant.try(:name) == type_composant %>
  <li class="list-group-item">
    <fieldset>
      <% label = (label.present? ? label : "Nouvel emplacement" ) %>
      <%= label %>
      <span>
        <%= f.hidden_field :_destroy %>
        <%= link_to t("action.delete"), '#', class: "remove_fields float-end" %>
      </span>
    </fieldset>
  </li>
<% end %>
