<div class="col-sm-10 col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.object.position.present? ? "Enclosure #{f.object.position}" : "Nouvelle enclosure" %>
    </div>
    <ul class="list-group panel-body">
      <%= f.fields_for :composants, f.object.composants.slots do |builder| %>
          <%= render "composant_fields", :f => builder, :type_composant => 'SLOT' %>
      <% end %>
    </ul>
    <div class="panel-footer"><%= link_to_add_fields_with_prefilled_data "<span class='glyphicon glyphicon-plus' aria-hidden='true'></span> Ajouter un slot".html_safe, f, :composants, 'SLOT' %></div>
  </div>
</div>
