<%
  breadcrumb
    .add(Modele.model_name.human.pluralize, modeles_path)
    .add(@original_modele.name, modele_path(@original_modele))
    .add(t("action.duplicate"))
%>

<%= render Page::HeadingEditComponent.new(
  resource: @original_modele, title: t(".title", modele_name: @original_modele.name), breadcrumb:
) %>

<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
