<% provide(:title, @modele.name) %>
<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  'Paramètres' => modeles_url,
  'Modèles' => modeles_path,
  "#{@modele.try(:name).present? ? @modele.name : 'Nouveau modèle' }" => ''}
%>

<div class="container">
  <div class="page-header">
    <%= link_to modeles_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Retour
    <% end %>
    <%= link_to @modele, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-info-sign"></span>
      Voir
    <% end %>
    <h1>Modification d'un modèle</h1>
  </div>

  <%= render 'form' %>
</div>
