<%= render 'layouts/breadcrumb', params: {'Paramètres' => modeles_url, 'Modèles' => modeles_url, "#{@modele.try(:name).present? ? @modele.name : 'Nouveau modèle' }" => ''} %>

<div class="page-header">
  <%= link_to modeles_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Tous les modèles
  <% end %>
  <%= link_to @modele, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Vue non modifiable
  <% end %>
  <h3>Modification d'un modèle</h3>
</div>

<%= render 'form' %>
