<%
  provide(:title, "#{Modele.model_name.human.pluralize} | #{t("action.create")}")

  breadcrumb_steps = { Modele.model_name.human.pluralize => modeles_path, t("action.create") => "" }
%>

<%= render Page::HeadingNewComponent.new(resource: @modele, title: t(".title"), breadcrumb_steps:) %>

<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
