<% if page.current? %>
  <li class='active'>
    <%= content_tag :a, page, remote: remote, rel: (if page.next?
'next'
                                                    else
(page.prev? ? 'prev' : nil)
                                                    end) %>
  </li>
<% else %>
  <li>
    <%= link_to page, url, remote: remote, rel: (if page.next?
'next'
                                                 else
(page.prev? ? 'prev' : nil)
                                                 end) %>
  </li>
<% end %>
