<%
  breadcrumb
    .add_step(@color.code, color_path(@color))
    .add_step(t("action.edit"))
%>

<%= render Page::HeadingEditComponent.new(resource: @color, title: t(".title"), breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
