<%
  breadcrumb
    .add_step(@contact_role, contact_role_path(@contact_role))
    .add_step(t("action.delete"))
%>

<%= render Page::HeadingComponent.new(title: t("action.delete"), breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <%= render DeleteDependencyComponent.new(
    @contact_role,
    confirmation_path: contact_role_path(@contact_role, confirm: true)
  ) %>
</div>
