<%
  breadcrumb
    .add_step(ContactRole.model_name.human.pluralize, contact_roles_path)
    .add_step(@contact_role, contact_role_path(@contact_role))
    .add_step(t("action.edit"))
%>

<%= render Page::HeadingEditComponent.new(resource: @contact_role, title: t(".title"), breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
