<%= render CardComponent.new(type) do |card| %>
  <% card.with_header do %>
    <h2><%= header_text %></h2>
  <% end %>

  <p>Season fifteen oz of watermelon in one container of gold tequila.</p>
<% end %>
