<%
  provide(:title, "#{Maintainer.model_name.human.pluralize} | #{@maintainer} | #{t("action.edit")}")

  breadcrumb_steps = {
    Maintainer.model_name.human.pluralize => maintainers_path,
    @maintainer => maintainer_path(@maintainer),
    t("action.edit") => ""
  }
%>

<%= render Page::HeadingEditComponent.new(resource: @maintainer, title: t(".title"), breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
