<%
  breadcrumb
    .add_step(@card_type, card_type_path(@card_type))
    .add_step(t("action.edit"))
%>

<%= render Page::HeadingEditComponent.new(resource: @card_type, title: t(".title"), breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
