<%
  provide(:title, "#{CardType.model_name.human(count: 2)} | #{t("action.create")}")

  breadcrumb_steps = { CardType.model_name.human(count: 2) => card_types_path, t("action.create") => "" }
%>

<%= render Page::HeadingNewComponent.new(resource: @card_type, title: t(".title"), breadcrumb_steps:) %>

<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
