<div>
  <%%= link_to <%= index_helper %>_path, class: 'btn btn-outline-secondary' do %>
    <span class="bi bi-list-ul"></span>
    Retour
  <%% end %>
  <h1>New <%= singular_table_name %></h1>
</div>

<%%= render 'form' %>
