<style>
  thead {display: table-header-group;}
</style>

<h1>Tous les serveurs</h1>

<div class="table-responsive">
  <%= datagrid_table(@servers, html:{ class: "table table-striped table-bordered table-hover"}) %>
</div>
