<%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
  <% card.with_header do %>
    <h5 class="card-title"><%= link_to room.name, visualization_room_path(room) %></h5>
  <% end %>

  <div class="bg-body border rounded">
    <% islets = room.islets.sorted %>
    <% islets.each do |islet| %>
      <div class="islet">
        <h6 class="my-2 ms-3">
          <%= islet.name.present? ? link_to("Ilot #{islet}", visualization_room_path(room, islet: islet.name, view: params[:view], bg: params[:bg])) : "" %>
        </h6>
        <%= render "bays/overview", bays: islet.bays.sorted, islet: islet.name %>
      </div>
    <% end %>
  </div>
<% end %>
