<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to room.name, room %></h3>
  </div>
  <div class="panel-body" style="padding: 0;">
    <% room.islets.sorted.each do |islet| %>
      <div class="islet">
        <h5><%= islet.name.present? ? link_to("Ilot #{islet}", room_path(room, islet: islet.name, :view => params[:view], bg: params[:bg])) : '' %></h5>
        <%= render 'bays/overview', bays: islet.bays.sorted %>
      </div>

    <% end %>
  </div>
</div>
