<%
  breadcrumb
    .add_step(@room.name, room_path(@room))
    .add_step(t("action.edit"))
%>

<%= render Page::HeadingEditComponent.new(resource: @room, title: t(".title"), breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
