<%
  provide(:title, "#{Room.model_name.human.pluralize} | #{@room.name} | #{t("action.edit")}")

  breadcrumb_steps = {
    Room.model_name.human.pluralize => rooms_path,
    @room.name => room_path(@room),
    t("action.edit") => ""
  }
%>

<%= render Page::HeadingEditComponent.new(resource: @room, title: t(".title"), breadcrumb_steps:) do |heading| %>
  <%= heading.with_extra_buttons do %>
    <% render ButtonComponent.new(title: t("visualization.title"),
                                  url: visualization_room_path(@room),
                                  variant: :primary,
                                  icon: "diagram-3-fill",
                                  is_responsive: true,
                                  extra_classes: "me-2") %>
  <% end %>
<% end %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
