<div class="container-fluid rooms-overview">

  <%= render 'layouts/breadcrumb', params: {'Aperçu des salles' => overview_rooms_path, @current_filters => nil} %>

  <div class="row">

    <div class="col-md-6 col-sm-12" id="rooms-overview" data-spy="affix" data-offset-top="53" data-offset-bottom="20">

      <% @rooms.each do |room| %>
        <div>
          <%= render 'rooms/room_overview', room: room %>
        </div>
      <% end %>

    </div>

    <div class="col-md-6 col-sm-12"></div>

    <div class="col-md-6 col-sm-12">
      <% @frames.each do |frame| %>
        <% settings = Frame.settings.merge({:min_height => params[:view]=='back' ? 20 : 27 }) %>
        <%= render 'frames/show', frame: frame, servers: frame.servers.to_a, settings: settings, editable: false, highlighted_servers: @filtered_servers %>
      <% end %>
    </div>

  </div>
</div>
