<% provide :title, "Toutes les salles" %>

<div class="container-fluid rooms-overview">

  <%= render 'layouts/breadcrumb', params: {'Aperçu des salles' => nil} %>

  <div class="row">

    <% @sites.each do |site| %>
      <div class="col-sm-12" style="text-align: center;">
        <h3><%= site %></h3>
      </div>
      <% rooms = site.rooms.order(:position).joins(:frames).distinct %>
      <% rooms.each do |room| %>
        <div class="col-md-6 col-sm-12">
          <%= render 'rooms/room_overview', room: room %>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
