<%
  hide_inventories_sidebar!
  
  breadcrumb.add(t(".title"))
%>

<%= render Page::HeadingComponent.new(title: t(".title"), breadcrumb:) %>

<div class="overview container-fluid d-flex flex-column p-4 border-top row-gap-4">
  <% @sites.each do |site| %>
    <div class="row row-gap-4">
      <div class="col-sm-12 text-center">
        <h3 class="my-3"><%= site %></h3>
      </div>
      <% rooms = site.rooms.order(:position).joins(:frames).distinct %>
      <% rooms.each do |room| %>
        <div class="col-sm-12 col-xxl-6">
          <%= render "rooms/room_overview", room: room %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
