<div class="container-fluid rooms-overview">

  <%= render 'layouts/breadcrumb', params: {'Aperçu des salles' => nil} %>

  <div class="row">

  <% @rooms.each do |room| %>
    <div class="col-md-6 col-sm-12">
      <%= render 'rooms/room_overview', room: room %>
    </div>
  <% end %>

  </div>
</div>
