<%
  breadcrumb_variables = {'Salles' => overview_rooms_path, @room.title => ((@frame.present? || params[:ilot].present?) ? room_path(@room):'')}
  if @frame.present?
    breadcrumb_variables["Ilot #{@frame.ilot}"] = ilot_rooms_path(id: @room.id, ilot: @frame.ilot)
  elsif params[:ilot].present?
    breadcrumb_variables["Ilot #{params[:ilot]}"] = ''
  end
  breadcrumb_variables["Frame #{@frame.title}"] = '' if @frame.present?
%>
<%= render 'layouts/breadcrumb', params: breadcrumb_variables %>

<div class="container-fluid">

  <%= render 'servers/room', room: @room, ilots: @servers_per_frames %>

</div>

<%= render 'servers/modal_add_element_in_frame' %>

<% # render 'ports/modal_add_connection' %>
