<%
  breadcrumb
    .add_step(@frame.name, frame_path(@frame))
    .add_step(t("action.delete"))
%>

<%= render Page::HeadingComponent.new(title: t("action.delete"), breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <%= render DeleteDependencyComponent.new(
    @frame,
    confirmation_path: frame_path(@frame, confirm: true)
  ) %>
</div>
