<%
  breadcrumb_variables = {'Rooms' => overview_rooms_path,
                          @frame.room.name => (@frame.present? ? room_path(@frame.room) : ''),
                          "Baie #{@frame.name}" => frame_path(@frame),
                          "Edition" => ''}
%>
<%= render 'layouts/breadcrumb', breadcrumb_variables: breadcrumb_variables %>

<div class="page-header">
  <h1>Modifier la baie <%= @frame.name %></h1>
</div>

<%= render 'form' %>

