<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  'Paramètres' => modeles_url,
  'Châssis' => frames_path,
  "Nouveau châssis" => ''
} %>

<div class="container">
  <div class="page-header">
    <%= link_to frames_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t("action.back") %>
    <% end %>
    <h1>Nouveau châssis</h1>
  </div>

  <%= render 'form' %>
</div>
