<div class="well">
  Salles et ilots :
  <% Salle.includes(:baies, :serveurs).order("salles.title").each do |salle| %>
    <% if salle.title.present? && salle.serveurs.present? %>
      <% ilots = (salle.baies.map(&:ilot).uniq - ["", nil]) %>
      <div class="btn-group">
        <a href="<%= salle_path(salle, :view => params[:view]) %>" class="btn btn-default">
          <%= salle.title %>
        </a>
        <% if ilots.present? %>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
        <% end %>
        <% if ilots.present? %>
          <ul class="dropdown-menu">
            <% ilots.each do |ilot| %>
              <% if ilot.present? %>
                <li>
                  <%= link_to "Ilot #{ilot}", ilot_salles_path(id: salle.id, ilot: ilot, :view => params[:view], bg: params[:bg]) %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
