<%
  breadcrumb_variables = {'Salles' => overview_salles_path, @salle.title => ((@baie.present? || params[:ilot].present?) ? salle_path(@salle):'')}
  if @baie.present?
    breadcrumb_variables["Ilot #{@baie.ilot}"] = ilot_salles_path(id: @salle.id, ilot: @baie.ilot)
  elsif params[:ilot].present?
    breadcrumb_variables["Ilot #{params[:ilot]}"] = ''
  end
  breadcrumb_variables["Baie #{@baie.title}"] = '' if @baie.present?
%>
<%= render 'layouts/breadcrumb', params: breadcrumb_variables %>

<div class="container-fluid">

  <%= render 'servers/salle', salle: @salle, ilots: @servers_par_baies %>

</div>

<%= render 'servers/modal_add_element_in_baie' %>

<% # render 'ports/modal_add_connection' %>
