<%
  breadcrumb
    .add_step(@power_distribution_unit, power_distribution_unit_path(@power_distribution_unit))
    .add_step(t("action.delete"))
%>

<%= render Page::HeadingComponent.new(title: t(".title"), breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <%= render DeleteDependencyComponent.new(
        @power_distribution_unit,
        confirmation_path: power_distribution_unit_path(@power_distribution_unit, confirm: true, back_to: params[:back_to]),
      ) %>
</div>
