<%
  breadcrumb
    .add_step(PowerDistributionUnit.model_name.human.pluralize, power_distribution_units_path)
    .add_step(@power_distribution_unit, power_distribution_unit_path(@power_distribution_unit))
    .add_step(t("action.edit"))
%>

<%= render Page::HeadingEditComponent.new(resource: @power_distribution_unit, title: t(".title"), breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
