<%
  breadcrumb.add_step(t("action.create"))
%>

<%= render Page::HeadingNewComponent.new(resource: @power_distribution_unit, title: t(".title"), breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <%= render partial: "form", locals: { power_distribution_unit: @power_distribution_unit } %>
</div>
