<% provide(:title, "#{t("power_distribution_units.index.title")} | #{t("action.create")}") # TODO: prefer use ActiveRecord translation of Modele name %>
<% breadcrumb_steps = {
  t("power_distribution_units.index.title") => power_distribution_units_path,
  t("action.create") => ""
} %>

<%#= render Page::HeadingNewComponent.new(resource: @server, title: t(".title"), breadcrumb_steps:) %>
<%= render Page::HeadingComponent.new(
  title: t(".title"), breadcrumb_steps:, back_button_url: power_distribution_units_path
) %>

<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
