<%
  breadcrumb
    .add(t("power_distribution_units.index.title"), power_distribution_units_path)
    .add(t("action.create"))
%>

<%#= render Page::HeadingNewComponent.new(resource: @server, title: t(".title"), breadcrumb:) %>
<%= render Page::HeadingComponent.new(
  title: t(".title"), breadcrumb:, back_button_url: power_distribution_units_path
) %>

<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
