<%
  provide(:title, "#{Gestion.model_name.human.pluralize} | #{@gestion} | #{t("action.edit")}")

  breadcrumb_steps = {
    Gestion.model_name.human.pluralize => gestions_path,
    @gestion => gestion_path(@gestion),
    t("action.edit") => ""
  }
%>

<%= render Page::HeadingEditComponent.new(resource: @gestion, title: t(".title"), breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
