<div class="page-header">
  <%= link_to gestions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Retour
  <% end %>
  <h1>Nouveau gestionnaire</h1>
</div>

<%= render 'form' %>
