<%
  breadcrumb.add(Gestion.model_name.human.pluralize, gestions_path).add(t("action.create"))
%>

<%= render Page::HeadingNewComponent.new(resource: @gestion, title: t(".title"), breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
