.caption-component {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;

  .bi-info-circle {
    font-size: 20px;
    color: darkgray;
    cursor: help;

    &:hover {
      color: gray;
    }
  }

  &-content {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    min-width: 200px;
    font-size: 13px;
    box-shadow: 0px 0px 10px darkgray;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s ease 0.33s, opacity 0.33s ease;

    dl {
      display: grid;
      grid-template-columns: max-content auto;
    }

    dt {
      grid-column-start: 1;
      margin-right: 1rem;
    }

    dd {
      grid-column-start: 2;
      font-weight: normal;
    }
  }

  &:hover, &:active {
    .caption-component-content {
      visibility: visible;
      opacity: 1;

      transition-delay: 0s;
    }
  }
}
