<%
  breadcrumb
    .add_step(ContactAssignment.model_name.human.pluralize, contact_assignments_path)
    .add_step(@contact_assignment, contact_assignment_path(@contact_assignment))
    .add_step(t("action.edit"))
%>

<%= render Page::HeadingEditComponent.new(resource: @contact_assignment, title: t(".title"), breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
