<%
  breadcrumb
    .add(ContactAssignment.model_name.human.pluralize, contact_assignments_path)
    .add(t("action.create"))
%>

<%= render Page::HeadingNewComponent.new(resource: @contact_assignment, title: t(".title"), breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
