<div class="page-header">
  <%= link_to memory_types_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @memory_type, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Voir
  <% end %>
  <h1>Editing memory_type</h1>
</div>

<%= render 'form' %>
