<div class="page-header">
  <%= link_to memory_types_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Retour
  <% end %>
  <%= link_to edit_memory_type_path(@memory_type), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Voir memory_type</h1>
</div>

<dl class="dl-horizontal">

  <dd><%= @memory_type %></dd>

</dl>
