/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require datagrid
 *= require jquery-ui
 *= require diffy
 *= require loader
 *= require palette-color-picker
 *= require rooms
 *= require quicksearch
 *= require_self
 *= require_tree ./components
 *= require tom-select.bootstrap5
 */

@import "jquery-ui.css";

// import the CSS framework
@import "bootstrap-variables.scss";
@import "bootstrap-icons.scss";
@import "bootstrap";

.truncate {
  // width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.word-break {
  word-wrap: break-word ;
}

.datagrid-form {
  background-color: transparent;
}

.datagrid-form input[type="submit"]{
  padding-left: 90px;
  padding-right: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.datagrid-filter select[multiple],
.datagrid-filter input[class*="filter"] {
  width: 275px;
  max-width: 100%;
}

.frame .server {
  background-color: var(--bs-light-bg-subtle);
}

.frame {
  .relegated {
    filter: alpha(opacity=30) !important;
    -moz-opacity: 0.3 !important;
    -khtml-opacity: 0.3 !important;
    opacity: 0.3 !important;
  }
}

.frame .server.ui-sortable-handle {
  cursor: move;
}

.frame .server a, .pdu a {
  color: var(--bs-emphasis-color);
}

.frame .server .server_name {
  font-weight: 600;
}

.frame li.server.list-group-item {
  padding: 3px 15px;
  overflow: visible;
}

.frame .card-footer {
  min-height: 60px;
}

.frame li.server {
  &.striped {
    background: repeating-linear-gradient(
                    -45deg,
                    #E5E5E5,
                    #E5E5E5 10px,
                    #F0F0F0 10px,
                    #F0F0F0 20px
    ) !important;
  }
}

table.slots, table.cm, table.ipmi {
  margin-left: 8px;
  cursor: default;
  position: relative;
}

table.slots, table.slots th, table.slots td,
table.cm, table.cm th, table.cm td {
  border: 1px #999999 solid;
  padding: 1px 3px;
  text-align: center;
  table-layout: fixed;
  min-height: 40px;
}

table.slots th {
  font-size: 12px;
}

table.slots .slot_column {
  width: 32px;
}

table.card_layout {
  border-collapse: collapse;
  border-style: hidden;
  td, th {
    border: 1px solid #999999;
  }
}

.pdu {
  &.J {
    .pdu-line .badge {
      color: var(--bs-gray-500) !important;
      background-color: #ffed7e !important;
    }
  }
  &.B {
    .pdu-line .badge {
      background-color: #a2b9ff !important;
    }
  }

  .server-component {
    display: inherit;
    flex-direction: inherit;
  }
}

.portRJ, .portFC, .portSCSI, .portALIM {
  cursor: pointer;
  position: relative;
  font-size: 10px;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  margin: 0 1px 1px 0;

  &.outlined {
    outline: 3px solid #eea236;
    z-index: 99999;
  }
}

.badge,
.portRJ,
.portFC,
.portSCSI,
.portALIM{
  // Colors are !important so we can print them
  &.R {
    color: #FFFFFF !important;
    background-color: #ee3b3b !important;
  }
  &.G {
    color: #333333 !important;
    background-color: #AAAAAA !important;
  }
  &.V {
    color: #FFFFFF !important;
    background-color: green !important;
  }
  &.T {
    color: #FFFFFF !important;
    background-color: #3B9C9C !important;
  }
  &.Vi {
    color: #FFFFFF !important;
    background-color: #663399 !important;
  }
  &.M {
    color: #FFFFFF !important;
    background-color: #8b4c39 !important;
  }
  &.B {
    color: #FFFFFF !important;
    background-color: #4876ff !important;
  }
  &.N {
    color: #FFFFFF !important;
    background-color: #000000 !important;
  }
  &.O {
    color: #FFFFFF !important;
    background-color: #FF9000 !important;
  }
  &.W {
    color: #000000 !important;
    background-color: #FFFFFF !important;
  }
  &.J {
    color: #000000 !important;
    background-color: #FFDD00 !important;
  }
  &.P {
    color: #000000 !important;
    background-color: #ff9ee5 !important;
  }
}

.portRJ {
  width: 24px;
  height: 18px;
  line-height: 16px;
}

.portSCSI {
  /* background-color: #DDD; */
  padding: 1px 2px;
}

.portFC {
  width: 24px;
  height: 18px;
  line-height: 16px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.portALIM {
  padding: 1px 2px;
  -webkit-border-radius: 4px 4px 8px 8px;
  -moz-border-radius: 4px 4px 8px 8px;
  border-radius: 4px 4px 8px 8px;
}

.alims {
  margin-top: 5px;
}

.alim {
  border: 1px #999999 solid;
  padding: 1px 5px;
  float: left;
  clear: left;
  margin-bottom: 5px;
}

.blank-card, .blank_card {
  // border:1px solid #999999;
  padding: 10px;
  background-color: lightgrey;
  padding: 10px;
}

.u_scale {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  padding: 3px 1px;

  &.even {
    background-color: var(--bs-light-bg-subtle) !important;
  }
  &.odd {
    background-color: var(--bs-dark-bg-subtle) !important;
  }
}

.server_badge {
  position: absolute;
  left: -29px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  top: 0;
  height: 26px;
  padding: 4px 9px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}

.port_selection {
  position: fixed;
  top: -11em;
  left: 0;
  right: 0;
  width: 300px;
  margin: 0 auto;
  &.in {
    top: 11em;
  }
}

.show-on-mouseover {
  display: none;
}

.server.hover .show-on-mouseover {
  display: inline;
}

.tooltip-inner {
  max-width: 1000px;
  width: auto;
}

// Forms
.form-group div, .form-group label {
  margin-bottom: 10px;
}

.form-group div.card-footer {
  margin-bottom: 0px;
}

// Custom dropdown menu when using custom multi-column
.dropdown-menu > li > div > ul > li > a {
  display: block;
  padding: 3px 16px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
}

.dropdown-menu > li > div > ul > li > a:hover, .dropdown-menu > li > div > ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.dropdown-submenu.float-start > .dropdown-menu {
  left: -150%;
}

// PDUs
.pdu_outlet_group {
  padding-top: 20px;
  clear: both;
}

.connection_form {
  .back_server {
    .selected {
      padding: 2px 1px;
      background-color: #ee3b3b;
    }

    .very-specific-design {
      overflow-x: scroll;
      padding-bottom: 1rem;
    }

    .draw_connections_link {
      display: none;
    }
  }
}

span.port_container.no_client a {
  border: solid 2px #FF9000 !important;
}

span.port_container.unreferenced_client a {
  border: solid 2px red !important;
}

.scaleable-wrapper {
  resize: both;
  position: relative;
}

.ui-resizable-se {
  display: none !important;
}

.bi{
  &.red{
    color: #ee3b3b;
  }
  &.green{
    color: #008000;
  }
}

/* DRAW SERVER BACK AS A GRID */
.enclosure-container {
  padding: 0;
  max-width: 600px;
  display: grid;
  border: 1px gray solid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 1px;
  background-color: lightgray;
  .component-label {
    color: darkgray;
    z-index: 1;
    padding-left: 5px;
    font-size: 10px;
    height: 1px;
  }
  .item {
    background-color: white;
    color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    z-index: 0;
    padding-top: 16px;
  }
}

dt {
  font-weight: normal;
}
dd {
  font-weight: 700;
}

/* Page about */
.about {
  .github-link {
    margin-bottom: 0;
  }
}

.form-server {
  select, input {
    max-width: stretch;
  }
}

.align-middle {
  vertical-align: middle !important;
}


/* MyDCIM CSS */
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

body {
  min-height: 100%;
  -webkit-print-color-adjust: exact;
}

/* Print and PDF exclusive CSS */
.print-body {
  a {
    text-decoration: none !important;
    color: black;

    &[href]:after {
      content: none !important;
    }
  }
}

/* Print exclusive CSS */
@media print {
  .print-body {
    .frames {
      flex-direction: column;
      row-gap: 2rem;
    }

    .frame .server {
      break-inside: avoid;
    }

    .card-islet {
      break-after: page;

      .frames .frame {
        break-after: page;
      }
    }

    div {
      float: none !important;
      position: static !important;
      display: inline;
      box-sizing: content-box !important;
    }
  }
}

/* PDF exclusive CSS */
.html2pdf__container {
  /* Forces the light theme for PDF */
  @extend html, [data-bs-theme="light"];

  max-width: 794px;
  width: 100%;

  .col-lg-6 {
    width: 100% !important;
  }

  .frame .server {
    background-color: white;
  }

  h3 {
    color: black;
  }
}

.mydcim {
  &-wrapper {
    height: calc(100% - var(--navbar-height));

    & > .row {
      height: 100%;
    }

    main.mydcim-main {
      height: 100%;
      overflow-y: auto;
    }

    .colorized_background {
      .server_name {
        a {
          color: var(--bs-black) !important;

          &:hover {
            opacity: .7;
            text-decoration-color: var(--bs-black) !important;
          }
        }
      }
    }

    .enclosure-fields {
     	ul {
    		li {
     			.input-group-text {
        		cursor: move;
     			}

          &:nth-last-of-type(2) {
            border-bottom-left-radius: var(--bs-border-radius);
            border-bottom-right-radius: var(--bs-border-radius);
          }

          &:empty {
            display: none;
          }
    		}
     	}
    }

    .no-decoration-link {
      a {
        text-decoration: none;

        &:focus, &:hover {
          text-decoration: underline;
        }
      }
    }

    .frames-network {
      .bay:last-child {
        padding: 0 !important;
      }
    }
  }

  &-header {
    .navbar-toggler {
      border: 0;
    }
  }

  &-navbar {
    @include media-breakpoint-up(lg) {
      flex-grow: 1;

      ul.navbar-nav {
        flex-wrap: wrap;
        flex-direction: row;
      }
    }

    // Submenu
    .dropdown-submenu{
      position:relative;

      & > .dropdown-menu {
        top:0;
        left:100%;
        margin-top:-6px;
        margin-left:-1px;
        -webkit-border-radius:0 6px 6px 6px;
        -moz-border-radius:0 6px 6px 6px;
        border-radius:0 6px 6px 6px;
      }

      &:hover {
        & > .dropdown-menu {
          display:block;
        }

        & > a:after {
          border-left-color:#555555;
        }
      }

      & > a:after {
        display:block;
        content:" ";
        float:right;
        width:0;
        height:0;
        border-color:transparent;
        border-style:solid;
        border-width:5px 0 5px 5px;
        border-left-color:#cccccc;
        margin-top:5px;
        margin-right:-10px;
      }

      &.float-start {
        float: none;

        & > .dropdown-menu {
          left:-100%;
          margin-left:10px;
          -webkit-border-radius:6px 0 6px 6px;
          -moz-border-radius:6px 0 6px 6px;
          border-radius:6px 0 6px 6px;
        }
      }
    }
  }

  &-sidebar {
    font-size: 16px;

    &:not(.offcanvas) {
      @include media-breakpoint-up(lg) {
        position: sticky;
        top: 0;
        display: block !important;
        overflow-y: auto;
        height: 100%
      }
    }

    &-links {
      &-link {
        padding: .1875rem .5rem;
        margin-top: .125rem;
        margin-left: 1.125rem;
        color: var(--bs-body-color);
        text-decoration: none;

        &:hover,
        &.active,
        &:focus {
          background-color: var(--bs-primary-bg-subtle);
        }

        &.active {
          font-weight: 600;
          color: var(--bs-primary-text-emphasis);
        }
      }
    }
  }

  &-login {
    max-width: 330px;
  }

  &-messages {
    margin-top: calc(1rem + var(--navbar-height));
    margin-right: 1rem;
  }

  /* TODO: to remove if a MessageComponent is created */
  &-devise-layout {
    .mydcim-messages {
      margin-top: 1rem;
    }
  }

  .moves_form{
    .server{
      &.relegated{
        filter:alpha(opacity=40);
        -moz-opacity:0.4;
        -khtml-opacity: 0.4;
        opacity: 0.4;
      }
    }
  }

  .moved_connection_form {
    .selected {
      padding:2px 1px;
      background-color: #ee3b3b;
    }
  }

  table, .card-islet {
    a:not(.btn):not(.dropdown-item) {
      text-decoration: none;

      &:focus, &:hover {
        text-decoration: underline;
      }
    }
  }

  dl.show-page_dl {
    grid-template-columns: auto 1fr;

    dt:not(:last-of-type), dd:not(:last-of-type) {
      border-bottom: var(--bs-border-width) dashed var(--bs-border-color);
    }
  }

  .export-button {
    max-width: 70px;
  }

  .export-pdf-button {
    max-width: 117px;
  }

  .export-button-move {
    max-width: 100px;
  }

  nav.pagy-bootstrap.nav .pagination {
    margin-bottom: 0;
  }

  /* Tom-Select */
  /* Fix for dark mode */
  .ts-dropdown, .ts-control, .ts-control input {
    color: var(--bs-body-color);
  }

  .ts-dropdown {
    z-index: 9999;
  }

  /* Tom-Select fix for bootstrap floating label */
  .filters-component {
    .form-floating > .ts-wrapper {
        padding-top: 1.625rem !important;
        padding-bottom: 0.625rem !important;

        @include media-breakpoint-up(lg) {
          width: 200px;
        }
    }

    .ts-wrapper.focus {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }

    .focus .ts-control {
        box-shadow: none;
        border: none;
        box-shadow: none;
    }
  }

  /* Tom-select fix for empty value on FF */
  .ts-dropdown [data-selectable].option:empty:before {
    content: "\200b";
  }

  /* Tom-select fix for small selects */
  .ts-dropdown {
    min-width: fit-content;

    .item, .option {
      white-space: nowrap;
    }
  }

  /* Visualization Infrastructure view */
  #network-capacity {
    .tab-content.infrastructure {
      overscroll-behavior: none;
    }
  }

  /* Visualization views - Turbo frame div */
  turbo-frame {
    &#network_capacity_islet, &#infrastructure_islet {
      .loader-overlay {
        visibility: hidden;
        opacity: 0;

        transition: opacity 200ms ease-in-out;

        /* TODO: use bg-primary-subtle when subtle color will support bg-opacity */
        background-color: rgba(rgb(221, 226, 250), .75);
      }

      &[busy] {
        .loader-overlay {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .table-responsive .dropdown,
  .table-responsive .btn-group,
  .table-responsive .btn-group-vertical {
      position: static;
  }
}

@include color-mode(dark) {
  turbo-frame {
    &#network_capacity_islet, &#infrastructure_islet {
      .loader-overlay {
        /* TODO: use bg-primary-subtle when subtle color will support bg-opacity */
        background-color: rgba(17, 22, 46, 0.75);
      }
    }
  }
}
