/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require datagrid
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

body {
  -webkit-print-color-adjust: exact;
}

.pdf_body {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: initial !important;
  }
  .frame .server .server_name {
    font-size: 16px;
  }
  .panel-islet {
    page-break-after: always;
    .frames .frame {
      clear: both;
      page-break-after: always;
    }
  }

}

.truncate {
  // width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumb {
  background-color: #333;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  a {
    color: #9d9d9d;
    &:hover {
      color: #ffffff;
    }
  }
  li {
    color: #ffffff;
  }
}

.datagrid-form {
  background-color: white;
  padding: 0;
}

a.hide-filters, a.show-filters {
  color: white;
  text-decoration: underline;
}

.frame .server {
  color: #777;
  page-break-inside: avoid;
}

.frame .server.ui-sortable-handle {
  cursor: move;
}

.frame .server a, .pdu a {
  color: #333
}

.frame .server .server_name {
  font-weight: 600;
}

.frame li.server.list-group-item {
  padding: 3px 15px;
  overflow: visible;
}

.frame .panel-footer {
  min-height: 60px;
}

.badge.badgeRJ45 {
  border-radius: 0;
}

.frame li.server {
  &.striped {
    background: repeating-linear-gradient(
                    -45deg,
                    #E5E5E5,
                    #E5E5E5 10px,
                    #F0F0F0 10px,
                    #F0F0F0 20px
    );
  }
}

table.slots, table.cm, table.ipmi {
  margin-left: 8px;
  cursor: default;
  position: relative;
}

table.slots, table.slots th, table.slots td,
table.cm, table.cm th, table.cm td {
  border: 1px #999999 solid;
  padding: 1px 3px;
  text-align: center;
  table-layout: fixed;
  min-height: 40px;
}

table.slots th {
  font-size: 12px;
}

table.slots .slot_column {
  width: 32px;
}

table.card_layout {
  border-collapse: collapse;
  border-style: hidden;
  td, th {
    border: 1px solid #999999;
  }
}

.pdu {
  &.J {
    .pdu-line .label {
      color: rgba(0, 0, 0, 1);
      background-color: rgba(255, 221, 0, 1);
    }
  }
  &.B {
    .pdu-line .label {
      // color: rgba(255,255,255, 1);;
      background-color: rgba(72, 118, 255, 1);
    }
  }
  .empty {
    background-color: #FFFFFF;
  }
}

.portRJ, .portFC, .portSCSI {
  cursor: pointer;
  position: relative;
  font-size: 10px;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  margin: 0 1px 1px 0;
  // Colors are !important so we can print them
  &.R {
    color: #FFFFFF !important;
    background-color: #ee3b3b !important;
  }
  &.G {
    color: #333333 !important;
    background-color: #AAAAAA !important;
  }
  &.V {
    color: #FFFFFF !important;
    background-color: green !important;
  }
  &.T {
    color: #FFFFFF !important;
    background-color: #3B9C9C !important;
  }
  &.Vi {
    color: #FFFFFF !important;
    background-color: #663399 !important;
  }
  &.M {
    color: #FFFFFF !important;
    background-color: #8b4c39 !important;
  }
  &.B {
    color: #FFFFFF !important;
    background-color: #4876ff !important;
  }
  &.N {
    color: #FFFFFF !important;
    background-color: #000000 !important;
  }
  &.O {
    color: #FFFFFF !important;
    background-color: #FF9000 !important;
  }
  &.W {
    color: #000000 !important;
    background-color: #FFFFFF !important;
  }
  &.J {
    color: #000000 !important;
    background-color: #FFDD00 !important;
  }
  &.P {
    color: #000000 !important;
    background-color: #ff9ee5 !important;
  }
  &.outlined {
    outline: 3px solid #eea236;
    z-index: 99999;
  }
}

.portRJ {
  border: 1px #555555 solid;
  width: 24px;
  height: 18px;
  line-height: 16px;
}

.portSCSI {
  border: 1px #555555 solid;
  /* background-color: #DDD; */
  padding: 1px 2px;
}

.portFC {
  border: 1px #555555 solid;
  width: 24px;
  height: 18px;
  line-height: 16px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.alims {
  margin-top: 5px;
}

.alim {
  border: 1px #999999 solid;
  padding: 1px 5px;
  float: left;
  clear: left;
  margin-bottom: 5px;
}

.detailed_server {
  border: 1px solid #999999;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
}

.blank-panel, .blank_panel {
  // border:1px solid #999999;
  padding: 10px;
  background-color: lightgrey;
  padding: 10px;
}

.panel-pdu {
  max-width: 150px;
}

.u_scale {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  padding: 3px 1px;
  &.even {
    background-color: #E9E9E9 !important;; // '#E9E9E9'
  }
  &.odd {
    background-color: #D0D0D0 !important;; //  '#D0D0D0'
  }
}

.server_badge {
  position: absolute;
  left: -29px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  top: 0;
  height: 26px;
  padding: 4px 9px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}

.port_selection {
  position: fixed;
  top: -11em;
  left: 0;
  right: 0;
  width: 300px;
  margin: 0 auto;
  &.in {
    top: 11em;
  }
}

.show-on-mouseover {
  display: none;
}

.server.hover .show-on-mouseover {
  display: inline;
}

.alert-transparent {
  background-color: transparent !important;;
  border-color: transparent;
  padding: 0;
  margin-top: -10px;
}

.tooltip-inner {
  max-width: 1000px;
  width: auto;
}

// Forms
.add_fields {
  margin-top: 10px;
}

.form-group div, .form-group label {
  margin-bottom: 10px;
}

.form-group div.panel-footer {
  margin-bottom: 0px;
}

.control-label {
  font-weight: bold;
}

// Custom dropdown menu when using custom multi-column
.dropdown-menu > li > div > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
}

.dropdown-menu > li > div > ul > li > a:hover, .dropdown-menu > li > div > ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

// PDUs
.pdu_outlet_group {
  padding-top: 20px;
  clear: both;
}

.connection_form {
  .back_server {
    background-color: white;
    // max-width:600px;
    .port_container {
      margin-left: -2px;
      display: inline-block;
    }
    .selected {
      padding: 2px 1px;
      background-color: #ee3b3b;
    }
    .draw_connections_link {
      display: none;
    }
  }
}

span.port_container.no_client a {
  border: solid 2px #FF9000 !important;
}

span.port_container.unreferenced_client a {
  border: solid 2px red !important;
}

.very-specific-design {
  position: relative;
  left: 0;
  top: 50%;
  transform-origin: top right;
}

.scaleable-wrapper {
  resize: both;
  position: relative;
}

.ui-resizable-se {
  display: none !important;
}

.glyphicon{
  &.red{
    color: #ee3b3b;
  }
  &.green{
    color: #008000;
  }
}
