/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require datagrid
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

.truncate {
  // width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.datagrid-form {
  background-color: white;
  padding: 0;
}

a.hide-filters, a.show-filters{
  color: white;
  text-decoration: underline;
}

.baie .serveur { color: #777; cursor: move; }
.baie .serveur a { color: #333; }
.baie li.serveur.list-group-item {
  padding: 3px 15px;
}
table.slots, table.cm, table.ipmi {
  margin-left: 8px;
  cursor: default;
}
table.slots, table.slots th, table.slots td,
table.cm, table.cm th, table.cm td{
  border: 1px #999999 solid;
  padding: 1px 5px;
  text-align: center;
}
.portRJ, .portFC, .portSCSI{
  cursor: pointer;
}
.portRJ {
  border: 1px #555555 solid;
  width: 8px;
  height: 8px;
  display: inline-block;
}
.portSCSI {
  border: 1px #555555 solid;
  display: inline-block;
  background-color: #DDD;
  padding: 1px 5px;
}
.portFC {
  border: 1px #555555 solid;
  width: 8px;
  height: 8px;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.alims {margin-top: 5px;}
.alim {
  border: 1px #999999 solid;
  padding: 1px 5px;
  float: left;
  clear: left;
  margin-bottom: 5px;
}

.detailed_server{
  border:1px solid #999999;
  padding:10px;
  background-color: white;
  margin-bottom: 10px;
}

.blank-panel, .blank_panel{
  // border:1px solid #999999;
  padding:10px;
  background-color: lightgrey;
  padding: 10px;
}

.u_scale{
  width:24px;
  text-align:center;
  height: 27px;
  padding: 3px 1px;
  margin:-3px -15px;
  &.even{
    background-color:#E9E9E9;  // '#E9E9E9'
  }
  &.odd{
    background-color:#D0D0D0; //  '#D0D0D0'
  }
}

.port_selection { position: fixed;
  top: -11em;
  left: 0;
  right: 0;
  width: 300px;
  margin: 0 auto;
  &.in{
    top: 11em;
  }
}

.show-on-mouseover{
  display: none;
}
.serveur.hover .show-on-mouseover{
  display: inline;
}


// Forms
.add_fields { margin-top: 10px;}
.form-group div, .form-group label { margin-bottom: 10px;}
.form-group div.panel-footer { margin-bottom: 0px;}
.control-label { font-weight: bold; }



