.moves_form{
  .server{
    &.relegated{
      filter:alpha(opacity=40);
      -moz-opacity:0.4;
      -khtml-opacity: 0.4;
      opacity: 0.4;
    }
  }

  .frame{
    .panel-heading{
      margin-bottom: 0;
    }
  }

  .server_container{
    background-color: white;
  }
}

.moved_connection_form{
  .well{
    background-color: white;
    display: inline-block;
  }
  .field{
    clear:both;
    padding-top:10px;
  }
  .port_container{
    margin-left: -2px;
    display: inline-block;
  }
  .selected{
    padding:2px 1px;
    background-color: #ee3b3b;
  }
}

.moved_connection_form_loading{
  text-align: center;
  min-height:30px;
  background-color: #FF9000;
  font-weight: bold;
  color: black;
  padding-top: 5px;
}
