.rooms-overview{
  margin-top: 10px;
  .panel{
    margin-bottom: 10px;
  }
  .islet{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #e3e3e3;
    h5{
      margin:10px 0 10px 15px;
    }
  }
  .overviewed_frame{
    display: inline-flex;
    margin: 0 0 10px 10px;
    padding: 8px 6px;
    background-color: #F5F5F5;
    border: 1px solid #e3e3e3;
    &.no-margin{
      margin: 0 0 10px -5px;
    }
    &.highlighted{
      background-color: lightblue;
    }
  }
  .server{
    &.relegated{
      filter:alpha(opacity=30);
      -moz-opacity:0.3;
      -khtml-opacity: 0.3;
      opacity: 0.3;
    }
  }
}

.overview-menu{
  display: grid;
  // grid-gap: 10px;
  .overviewed_frame{
    display: inline-flex;
    margin: 0 0 10px 10px;
    padding: 8px 6px;
    background-color: #F5F5F5;
    border: 1px solid #e3e3e3;
    &.no-margin{
      margin-bottom: 0;
    }
  }
}

.frames{
  .couple{
    cursor: pointer;
  }
  .frame{
    cursor: auto;
  }
}

@media (min-width: 1199px) {
  #rooms-overview.affix {
    top:60px;
    padding-right: 30px;
  }
}
@media (max-width: 1198px) {
  #rooms-overview.affix {
    position: static;
    width: auto;
    top: 0;
  }
}
