.rooms-overview{
  margin-top: 10px;
  .panel{
    margin-bottom: 10px;
  }
  .islet{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #e3e3e3;
    h5{
      margin:10px 0 10px 15px;
    }
  }
  .overviewed_frame{
    display: inline-flex;
    margin: 0 0 10px 15px;
    padding: 10px;
    background-color: #F5F5F5;
    border: 1px solid #e3e3e3;
    &.no-margin{
      margin: 0 0 10px -5px;
    }
    &.highlighted{
      background-color: lightblue;
    }
  }
}
