.rooms-overview {
  margin-top: 10px;

  .panel {
    margin-bottom: 10px;
  }

  .islet {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #e3e3e3;

    h5 {
      margin: 10px 0 10px 15px;
    }
  }

  .overviewed_frame {
    display: inline-flex;
    margin: 0 0 10px 10px;
    padding: 8px 6px;
    background-color: #F5F5F5;
    border: 1px solid #e3e3e3;

    &.no-margin {
      margin: 0 0 10px -5px;
    }

    &.highlighted {
      background-color: lightblue;
    }
  }

  .server {
    &.relegated {
      filter: alpha(opacity=30) !important;
      -moz-opacity: 0.3 !important;
      -khtml-opacity: 0.3 !important;
      opacity: 0.3 !important;
    }
  }

  .air-conditioner {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #F5F5F5;
    border: 1px solid #e3e3e3;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 0 0 10px 10px;
    min-width: 24px;
    &:hover, &:focus {
      text-decoration: none;
      background-color: #FFDD99;
    }

    &.off {
      border: 2px solid #ff0000;
      &:hover, &:focus {
        background-color: #ffc2c2;
      }
    }
  }
}

.overview-menu {
  display: grid;
  // grid-gap: 10px;
  .overviewed_frame {
    display: inline-flex;
    margin: 0 0 10px 10px;
    padding: 8px 6px;
    background-color: #F0F0F0;
    border: 1px solid #e3e3e3;

    &.no-margin {
      margin-bottom: 0;
    }
  }
}

.frames {
  .couple {
    cursor: pointer;

    &.hover {
      background-color: white;

      .couple-panel-footer {
        background-color: white;
      }
    }

    .frame {
      cursor: auto;
    }

    .panel-body {
      padding: 0;
    }
  }
}

.room_overview h5 {
  margin: 10px 0 10px 15px;
}

@media (min-width: 1199px) {
  #rooms-overview.affix {
    top: 60px;
    padding-right: 30px;
  }
}

@media (max-width: 1198px) {
  #rooms-overview.affix {
    position: static;
    width: auto;
    top: 0;
  }
}

.show_room {
  .panel-body {
    padding: 0;
  }

  .islet h5 {
    text-align: center
  }

  .nav-tabs > li > a {
    border-radius: 0;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
    background-color: #FFDD99;
  }

  .rooms-overview {
    clear: both;
    display: grid;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .overviewed_frame {
    text-align: center;
    padding: 8px 6px 0 6px;

    &.hover {
      background-color: #FFDD99;
      cursor: pointer;
    }

    &.selected {
      background-color: #FFCC77;
    }

    .title {
      text-align: center;
      min-width: 100%;
      margin-bottom: 0;
      font-size: small;
    }

    ul {
      padding-left: 0;
      border: 1px #777777 solid;
      margin-top: 25px;
      margin-left: -100%;
      min-width: 100%;
    }
  }

  .menu-rooms {
    border-right: solid 1px #EAEAEA;
    background-color: #F4F4F4;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    min-width: 243px;

    li.active {
      list-style-type: disc;
    }
  }

  .room-actions {
    border-left: solid 1px #EAEAEA;
    background-color: #F4F4F4;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
  }

}

.infrastructure {
  padding-top: 60px;

  .rooms-overview {
    margin-top: 80px;

    .couple {
      width: 280px;
      height: 160px;
    }
  }

  .overviewed_frame {
    padding: 0;
    display: inline-grid;
    border: none;
    width: 125px;

    .title {
      padding: 8px 6px;
      font-size: small;

      a {
        color: #555555
      }
    }

    margin-right: 12px;
    margin-left: 16px;
    margin-bottom: 96px;

    ul {
      border: none;
      margin: 0;
      min-width: 100%;
    }

    li {
      border: none;
      list-style: none;
      padding: 0 4px;
      width: auto;

      a {
        color: #555555;
        font-size: small;
      }
    }

    .server {
      cursor: pointer;

      &.bordered {
        border-bottom: 1px solid #e3e3e3;
      }
    }
  }

  .intermediate-point {
    z-index: -3000;
    display: block;
    position: relative;
    width: 0;
    height: 0;
    color: white;

    &.pre {
      left: -40px;
    }

    &.post {
      right: -40px;
    }

    &.even {
      bottom: -90px;
    }

    &.odd {
      top: -40px;
    }
  }

  .hubs {
    display: flex;
    align-items: center;
    justify-content: center;

    .other_room_hub {
      border: 1px lightgray solid;
      padding: 0 5px 10px 5px;
      margin-left: 80px;
      margin-top: -10px;
    }

    .hub_material {
      background-color: #F5F5F5;
      border: none;
      padding: 8px 6px;
      text-align: center;
      cursor: pointer;
    }

    a {
      color: #555555;
    }
  }

}

.capacity {
  padding-top: 40px;
  overflow: auto;

  .rooms-overview {
    margin-top: 20px;

    .couple {
      height: auto;
      min-height: 160px;
      width: 490px;
    }

  }

  .overviewed_frame {
    padding: 0;
    display: inline-grid;
    margin-right: 12px;
    margin-left: 16px;
    margin-bottom: 32px;
    border-bottom: none;
    min-width: 226px;
    text-align: left;

    .title {
      padding: 3px 0;
      font-size: small;
      background-color: #B3C3C3;

      a {
        color: #555555;
        font-weight: normal;
      }
    }

    ul {
      border: none;
      margin: 0;
      min-width: 100%;
    }

    li {
      margin-top: 6px;
      border-bottom: 1px solid #e3e3e3;
      list-style: none;
      padding: 0 4px;
      width: auto;
      height: auto;

      .sum {
        font-size: small;
        color: #555555;
        margin: 4px 0;
      }

      .server_name {
        font-size: x-small;
        max-width: 160px;
        margin-top: 5px;
      }

      a {
        color: #555555;
        font-size: small;
      }
    }

    .minimal_card_layout {
      text-align: left;

      .portRJ, .portFC, .portSCSI {
        border: 1px solid #666666;
        width: 8px;
        height: 8px;
      }
    }

    .server {
      cursor: pointer;

      &.bordered {
        border-bottom: 1px solid #e3e3e3;
      }
    }
  }

}
