  <%= render 'layouts/breadcrumb', breadcrumb_variables: {
    'Paramètres' => modeles_url,
    'Types de matériel' => categories_path,
    @category => '',
  } %>

<div class="container">
  <div class="page-header">
    <%= link_to categories_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Retour
    <% end %>
    <%= link_to @category, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-info-sign"></span>
      Voir
    <% end %>
    <h1>Editing category</h1>
  </div>

  <%= render 'form' %>
</div>
