<%
  provide(:title, "#{Category.model_name.human.pluralize} | #{@category} | #{t("action.edit")}")

  breadcrumb_steps = {
    Category.model_name.human.pluralize => categories_path,
    @category => category_path(@category),
    t("action.edit") => ""
  }
%>

<%= render Page::HeadingEditComponent.new(resource: @category, title: t(".title"), breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
