<%
  breadcrumb
    .add_step(@bay, bay_path(@bay))
    .add_step(t("action.delete"))
%>

<%= render Page::HeadingComponent.new(title: t(".title"), breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <%= render DeleteDependencyComponent.new(
    @bay,
    confirmation_path: bay_path(@bay, confirm: true)
  ) %>
</div>
