<%
  breadcrumb
    .add_step(@bay, bay_path(@bay))
    .add_step(t("action.delete"))
%>

<%= render Page::HeadingComponent.new(title: t("action.delete"), breadcrumb:) %>

<div class="col-12 p-4 border-top">


  <%= render DeleteDependency::ConfirmComponent.new(@bay, bay_path(@bay, confirm: true)) %>

</div>
