<% provide :title, "Double baie #{@bay}" %>
<%
  breadcrumb_variables = {'Salles' => overview_rooms_path, @bay.room.name => room_path(@bay.room, view: params[:view])}
  if @bay.islet.name.present?
    breadcrumb_variables["Ilot #{@bay.islet.name}"] = room_path(@bay.room, islet: @bay.islet.name, view: params[:view])
  elsif params[:islet].present?
    breadcrumb_variables["Ilot #{params[:islet]}"] = ''
  end
  breadcrumb_variables["Double baie #{@bay}"] = ''
%>
<%= render 'layouts/breadcrumb', params: breadcrumb_variables %>

<div class="container-fluid" id="bay-container">
  <%= render 'servers/room',
             room: @bay.room,
             islets: @servers_per_frames,
             title: "Double baie #{@bay}",
             view_side: params[:view] %>
</div>

<%= render 'servers/modal_add_element_in_frame' %>

<%= render 'ports/modal_edit_port' %>
