<div class="d-flex h-100 align-items-center justify-content-center">
  <div class="alert alert-info">
    <p><%= t(".text") %></p>
    <hr>
    <p class="mb-0"><%= t(".subtext_html") %></p>
  </div>
</div>
