<%
  breadcrumb
    .add_step(@site, site_path(@site))
    .add_step(t("action.delete"))
%>

<%= render Page::HeadingComponent.new(title: t(".title"), breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <%= render DeleteDependencyComponent.new(
    @site,
    confirmation_path: site_path(@site, confirm: true)
  ) %>
</div>
