<div class="page-header">
  <%= link_to sites_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t(".back") %>
  <% end %>
  <h1><%= t(".title") %></h1>
</div>

<%= render 'form' %>
