<%
  provide(:title, "#{Site.model_name.human.pluralize} | #{@site.name} | #{t("action.edit")}")

  breadcrumb_steps = {
    Site.model_name.human.pluralize => sites_path,
    @site => site_path(@site),
    t("action.edit") => ""
  }
%>

<%= render Page::HeadingEditComponent.new(resource: @site, title: t(".title"), breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
