<% provide(:title, "#{Site.model_name.human.pluralize} | #{t("action.create")}") %>
<% breadcrumb_steps = {
  Site.model_name.human.pluralize => sites_path,
  t(".title") => ""
} %>

<%= render Page::HeadingNewComponent.new(resource: @site, title: t(".title"), breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
