<%
  provide(:title, "#{Manufacturer.model_name.human.pluralize} | #{@manufacturer.name} | #{t("action.edit")}")

  breadcrumb_steps = {
    Manufacturer.model_name.human.pluralize => manufacturers_path,
    @manufacturer => manufacturer_path(@manufacturer),
    t("action.edit") => ""
  }
%>

<%= render Page::HeadingEditComponent.new(resource: @manufacturer, title: t(".title"), breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
