name: Quality

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  rubocop:
    runs-on: ubuntu-latest
    name: Rubocop

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Run rubocop
        run: bin/rubocop -f github
