name: Security

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  scan_ruby:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Scan for common Rails security vulnerabilities using static analysis
        run: bin/brakeman --no-pager

  # npm:
  #   runs-on: ubuntu-latest
  #   name: NPM Audit

  #   steps:
  #     - uses: actions/checkout@v6
  #     - name: Set up Nodejs
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: 20.x
  #         cache: 'npm'

  #     - name: Install dependencies
  #       run: npm ci

  #     - name: Run audit
  #       run: npm audit
