name: Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Mini tests tests
    runs-on: ubuntu-latest

    env:
      RAILS_ENV: test
      RAILS_MASTER_KEY: "acf7c0d9c0f69afd05048c8a58b2e9ee"
      FERRUM_PROCESS_TIMEOUT: 25
      FERRUM_DEFAULT_TIMEOUT: 15

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_DB: dcim_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout main app
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          rubygems: "latest"
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: stable

      - name: Set up Database
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
        run: |
          cp test/support/database-postgres.yml config/database.yml
          bin/rails db:setup

      - name: Run tests
        run: bin/rails test

  rspec:
    name: RSpec tests
    runs-on: ubuntu-latest

    env:
      RAILS_ENV: test
      RAILS_MASTER_KEY: "acf7c0d9c0f69afd05048c8a58b2e9ee"
      FERRUM_PROCESS_TIMEOUT: 180
      FERRUM_DEFAULT_TIMEOUT: 15

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_DB: dcim_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout main app
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          rubygems: "latest"
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: stable

      - name: Set up Database
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
        run: |
          cp test/support/database-postgres.yml config/database.yml
          bin/rails db:setup

      - name: Run RSpec tests
        run: bin/rspec

  database_schema:
    name: Verify schema
    runs-on: ubuntu-latest

    env:
      RAILS_ENV: test
      RAILS_MASTER_KEY: "acf7c0d9c0f69afd05048c8a58b2e9ee"
      FERRUM_PROCESS_TIMEOUT: 25
      FERRUM_DEFAULT_TIMEOUT: 15

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_DB: dcim_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout main app
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          rubygems: "latest"
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - name: Set up Database
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
        run: |
          cp test/support/database-postgres.yml config/database.yml
          bin/rails db:setup

      - name: Run migration reset
        run: bin/rails db:migrate:reset

      - name: Verify schema
        run: git diff --exit-code db/schema.rb
