<div class="py-3 px-4 bg-body">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to root_path, class: "link-body-emphasis" do %>
          <i class="bi bi-house-door-fill"></i>
          <span class="visually-hidden"><%= t(".home") %></span>
        <% end %>
      </li>
      <% breadcrumb.each_steps do |step| %>
        <% if value.present? %>
          <li class="breadcrumb-item">
            <%= link_to key, value, class: "link-body-emphasis fw-semibold text-decoration-none"%>
          </li>
        <% else %>
          <li class="breadcrumb-item active" aria-current="page">
            <%= key  %>
          </li>
        <% end %>
      <% end %>
    </ol>
  </nav>
</div>
