<% if local_assigns[:breadcrumb_variables].present?
     breadcrumb_steps = breadcrumb_variables
   else
     breadcrumb_steps = {}
     rooms = {t("visualization") => overview_rooms_path}
     case controller.controller_name
     when 'rooms'
       breadcrumb_steps.merge!(rooms)
       breadcrumb_steps.merge!({@room.name => ((@frame.present? || params[:islet].present?) ? room_path(@room, view: params[:view]) : '')})
       if @frame.present? && @frame.bay.islet.name.present?
         breadcrumb_steps["Ilot #{@frame.bay.islet.name}"] = room_path(@room, islet: @frame.bay.islet.name, view: params[:view])
       elsif params[:islet].present?
         breadcrumb_steps["Ilot #{params[:islet]}"] = ''
       end
       breadcrumb_steps["Baie #{@frame.name}"] = '' if @frame.present?
     end
   end
%>

<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><%= link_to 'Accueil', root_path %></li>
  <% breadcrumb_steps.each do |key, value| %>
    <li class="<%= 'active' if value.present? %>"><%= value.present? ? (link_to key, value) : key %></li>
  <% end %>
</ol>
