<div class="mydcim-messages position-absolute top-0 end-0">
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div role="alert"
          class="alert alert-dismissible fade show alert-<%= name.to_s == "notice" ? "success" : "danger" %>">
        <%= content_tag :div, msg, id: "flash_#{name}" %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="<%= t("action.close") %>"
                                                                        aria-hidden="true"></button>
      </div>
    <% end %>
  <% end %>
</div>
