<%
  breadcrumb
    .add_step(MovesProject.model_name.human(count: 2), moves_projects_path)
    .add_step(t("action.create"))
%>

<%= render Page::HeadingNewComponent.new(resource: @moves_project, title: t(".title"), breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <%= render "form" %>
</div>
